h1 { background-color: #A04000 ;
  color:#D7DBDD  ;border-radius: 10px;
font-size: xxlarge ;
font-family: monospace:DejaVu Sans Mono;
text-align: center;
text-decoration:underline;box-shadow: 2px 2px 3px #32322F;

}

img{max-width:400px;
max-height:400px;
display: table-row-group;
margin: inherit;
;box-shadow: 2px 2px 3px #32322F;
}

h2 {background-color:#A04000;
  color:#D7DBDD;font-size: xxlarge ;border-radius: 10px;
  font-family: monospace:DejaVu Sans Mono ;
  text-align: center;
  text-decoration:underline;box-shadow: 2px 2px 3px #32322F;

 }
 .comida:hover {
   transform: scale(1.50);
    border: 5px solid #1B2631 ;
    border-collapse: collapse;

 }
 .titulo1:hover{color: inherit;
   transform: scale(1.00)

 }
.titulo2:hover{color: inherit;
transform: scale(1.00)
}
.titulo_sec1:hover {color:inherit;transform: scale(1.00);}
.titulo_sec2:hover{color:inherit;transform: scale(1.00);}
.boton:hover{color: inherit;transform: scale(1.50);}
.paginas:hover{color: inherit;transform: scale(1.50)}
body { background-image: url("imagenes/chefcocinasobrero.png")
;
background-repeat: no-repeat;
background-attachment: fixed;;
}

h3 { background-color:#A04000 ;
  font-family: monospace:DejaVu Sans Mono;
text-align: center;
color: #D7DBDD ;
text-decoration:underline;
border-radius: 10px;
display: flex; flex-direction: column;
justify-content: space-around; align-items: center;box-shadow: 2px 2px 3px #32322F;

}

p{ background-color: #A04000;
color: #D7DBDD ;border-radius:10px;padding:10px;
font-size:large;
font-family:  monospace: Lucida Console;
text-align:  justify;box-shadow: 2px 2px 3px #32322F;

}

li{ background-color:;
color:#D7DBDD ;
text-align: justify;
font-family: monospace:Lucida Console;
}


header{
    text-align: center;
    loat: left;
    margin:1%;
    padding: 5px;border-radius: 10px;


}
nav{ display: flex;
  direction:row;
  justify-content:space-around;



  }
  .boton {background-color:#E4F3F2 ;
      width: 15%;
      height: 5%;
      display: flex;
      justify-content: center;
      border-radius: 6px;
      border-color: rgba(68, 68, 72, 0.7);
      box-shadow: 2px 2px 3px #32322F;
      cursor: pointer;
  a:link{color: #FFFFFF; font-family: monospace:DejaVu Sans Mono;
       font-size: 20pt; font-weight: bold;
  }
  a:visited {color:coral; font-family: monospace:DejaVu Sans Mono;
       font-size: 20pt; font-weight: bold;
  }
  a:active{color: #FFFFFF; font-family: monospace:DejaVu Sans Mono;
       font-size: 20pt; font-weight: bold;
  }
  .boton:hover {transform: scale(1.2);
      }


}
section{background-color:#A04000;
text-align: justify;
width: 50%;
float: left;
margin:1%;
padding-right:20px;
border-radius: 5px;
box-shadow: 2px 2px 3px #32322F;

}

footer{background-color:#A04000 ;
  border-radius: 5px;
clear:both;
align-content:  stretch;
  display: flex;
  justify-content:center; space-space-between;box-shadow: 2px 2px 3px #32322F;


}
.wsp{
	position:fixed;
	width:80px;
	height:75px;
	bottom:25px;
	right:50px;
	background-color:#25d366;
	color:#FFF;
	border-radius:40px;
	text-align: justify;
  font-size:30px;
	box-shadow: 2px 2px 3px #32322F;
  z-index:100;
}
.wsp:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.whatsapp:hover {transform: scale(1.1);
}
